<div class="container">
  <div class="container">
    <%= form_with(model: @comment, local: true) do |f| %>

      <br>
      <div class="form-group">
        <%= f.text_area :comment_entry, class: 'form-control', rows: 8, width: 5, placeholder: 'Enter comment here...', style: 'background: transparent; font-size: 24px; border: solid #333333' %>
      </div>

      <%= f.hidden_field :recipe_id, value: @recipe.id %>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="actions">
        <%= f.submit 'Submit', class: 'btn btn-block btn-primary' %>
      </div>
    <% end %>
  </div>
</div>