<div clas="row">
<div class="col-md-6 col-md-offset-3">

  <div class="card" style="width: 20rem; display: table; margin: 0 auto;">
    <%= image_tag @recipe.image, class: 'card-img-top' %>
    <% unless @avg_review.blank? %>
      <div class="star-rating" , style="display: table; margin-right: auto; margin-left: auto;" data-score="<%= @avg_review %>"></div>
      <em style="display: table; margin-right: auto; margin-left: auto;">
        <% if @reviews.length < 2 %>
          <%= @reviews.length %> review
        <% elsif @reviews.to_s.length %>
          <%= @reviews.length %> reviews
        <% end %>
      </em>
    <% end %>
    <div class="card-body">
      <h2 class="card-title" style="text-decoration: underline;">Recipe
        Name: <%= simple_format(@recipe.name.html_safe) %></h2>
      <p class="card-text">
        <span style="text-decoration: underline;">Recipe Description:</span><br> <%= simple_format(@recipe.description.html_safe) %>
      </p>.
      <p class="card-text">
        <span style="text-decoration: underline;">Recipe Ingredients:</span><br> <%= simple_format(@recipe.ingredient_list.html_safe) %>
      </p>
      <p class=" card-text">
        <span style="text-decoration: underline;">Recipe Instructions:</span><br> <%= simple_format(@recipe.instruction_list.html_safe) %>
      </p>
      <p>Category: <%= @recipe.category.name %></p>
      <small><%= @recipe.created_at.strftime('%m/%d/%Y at %I:%M%p') %></small>
      <br>
      <% if !current_user.id == @recipe.user_id %>
        <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-warning' %>
        <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'}, class: 'btn btn-danger' %>
      <% end %>
      <%= link_to 'Rate Recipe', new_recipe_review_path(@recipe), class: 'btn btn-primary' %>
    </div>
  </div>

<%= link_to 'Home', '/', class: 'btn btn-secondary' %>
<%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-secondary' %>
<%= render 'comments/comments_form' %>
<%= render 'comments/comments' %>
</div>
</div>
<script>
    $('.star-rating').raty({
        path: '/images',
        readOnly: true,
        score: function () {
            return $(this)('data-score');
        }
    });
</script>