<!DOCTYPE html>
<html>
<head>
  <title>Sharerecipes</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>

<body>
<p class="welcome-user-by-name"><%= "Welcome @"+current_user.name if current_user %></p>
<%= render 'layouts/nav' %>
<!--<div class="container" style='background: url("https://images.pexels.com/photos/33486/soup-vegetables-pot-cooking.jpg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center center fixed; background-size: cover;'>-->
<div class="container">
  <%= yield %>
</div>
<nav class="footer">
  <ul>
    <li class="footer-title"><strong>Contact Info</strong></li>
    <li>Brian Ruff</li>
    <li>brff19@gmail.com</li>
    <li>867-5309</li>
  </ul>
  <ul>
    <li class="footer-title"><strong>Languages</strong></li>
    <li>Ruby on Rails</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>
  <ul>
    <li class="footer-title"><strong>More Languages & Doc Material</strong></li>
    <li>JavaScript</li>
    <li>ERB</li>
    <li>MDN</li>
  </ul>
</nav>
</body>
</html>
